body{
    background-image: url(bg.jpg);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}






.anch {
    max-height:100px;
    text-align: center;
    background-image: url(anch.jpg);
    margin-top: 4rem;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    transition:1s;
    border-radius: 50px;
    border-color: #0A0E14;
}


h1{
    text-align: center;
    font-weight: 700;
    ;
}

.anch-btn{
    text-align:center;
    margin-top: 20px;
    width:200px;
    height:60px;
    background-image: url(bg.jpg);
    color:#3498db;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    cursor:pointer;
    border-radius: 30px;
}

.anch-btn:hover{
    margin-top: 20px;
    width:200px;
    height:60px;
    background-image: url(anch.jpg);
    color:white;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    cursor:pointer;
    transition: .2s linear;
    border-radius: 30px;
}

.anch-btn::before,.anch-btn::after{
    content:"";
    position: absolute;
    width: 25px;
    height: 20px;
    background:black;
    transform: skew(50deg);
    transition: .2s linear;

}

.anch-btn::before{
    top: -4px;
    left: 10%;
}

.anch-btn::after{
    bottom: -4px;
    right: 10%;
}

.anch-btn:hover::before{
    left: 80%;
    background-image: url(bg.jpg);
    
}

.anch-btn:hover::after{
    right: 80%;
    background-image: url(bg.jpg);
}


.logo{
    max-height:80px;
}
    
    
.control-label {
    color:#0A0E14;
    font-size: 25px;
    font-weight: 600;
}

.form-field{
    
    width:400px;
    height:30px;
    transition:1s;
    background-color:WHITE;
    

}
.form-field:hover{
    width:400px;
    height:30px;
    transition:1s;
    background-color:linen;
    cursor:pointer;
    

}

.link {
    text-align: center;
    color:red;
    max-width:800px;
    border:2px solid #0A0E14;
    margin : 4rem auto;
    padding:1rem;
    
}
.link:hover {
    text-align: center;
    color:red;
    max-width:800px;
    border:2px solid #0A0E14;
    margin : 4rem auto;
        padding:1rem;
    background:white;
    transition: .4s;
}

.form1{
    max-width:800px;
    margin: 4rem auto;
    border:4px solid #0A0E14;
    padding:1rem;
    
}


.form1:hover{
    max-width:800px;
    margin: 4rem auto;
    border:4px solid #0A0E14;
    padding:1rem;
    
    transition: .4s;
}


.h-content{
    max-width:98%;
    margin: 4rem auto;
    border:4px solid #0A0E14;
    padding:1rem;
    font-size:25px;
    font-weight: lighter ;
    text-align: center;
    
}

.img{
    max-width: 60px;
    max-height: 60px;
    margin-top:30px;
    
}


.ulx{
    background-color:#FFD5D5 ;
    max-width: 400px;
}

.lix{
    color:red
}